<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PilotPlant</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@1.26.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@2.0.0-beta.2"></script>
    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href={{ url_for ('static', filename="overview.css")}}>
</head>
<body>
    <div class="header">
        <a href="#default" class="logo"><img src="https://static1.squarespace.com/static/56cb97860442621c56ea6559/t/5bcf4d81e2c483f1f95040f9/1615317812552/?format=1500w" style="width:175px;height:25px;"></a>
        <div class="header-right">
          <a class="active" href="#home">Overview</a>
        </div>
    </div>
    <div class='chart-container'>
        <canvas id='example1'></canvas>
        <canvas id='example2'></canvas>
        <canvas id='example3'></canvas>
    </div>
    <div class='labels'>
        <div class='chart1-container'>
            <h2 id='example1'>example1:</h2>
            <h2 id='example2'>example2:</h2>
        </div>
        <div class='chart2-container'>
            <h2 id='example3'>example3:</h2>
        </div>
    </div>
    <div class='data'>
        <div class='example1-Data-container'>
            <h2 id='example1Data'></h2>
            <h2 id='example2Data'></h2>
        </div>
        <div class='example3-Data-container'>
            <h2 id='example3Data'></h2>
        </div>

    </div>
    <div class='submitForms'>
        <input type='text' id='exampleSent'>
    </div>
    <script>
        $(document).ready(function(){
            $("#exampleSent").keypress(function(e) {
                if (e.which == 13) {
                    var pump= document.getElementById("exampleSent");
                    var entry = {
                        example: example.value
                    };
                    fetch(`${window.origin}/exampleSend`, {
                        method: "POST",
                        credentials: "include",
                        body: JSON.stringify(entry),
                        cache: "no-cache",
                        headers: new Headers({
                            "content-type":"application/json"
                        })
                    })
                    console.log(entry);
                } 
                
            });
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>    
    <script src="{{ url_for ('static', filename='overview.js')}}"></script>
</body>
</html>